/* CSS Document */

@font-face { font-family: Abel; font-weight: normal; src: url('../fonts/abel-regular.ttf'); }

body, html {
	position: relative;

	font-family: Abel;

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
	min-height: 400px;
	min-width: 650px;
}

.outer-div {
	width: 100%;
	height: 100%;
	text-align: center;
}

.outer-div:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.inner-div {
	display: inline-block;
	vertical-align: middle;

	width: 40%;
	min-width: 500px;

	padding: 30px 50px 0 50px;

	border: 1px solid white;
	background: rgba(178, 178, 178, 0.4);
}

.info-block {
	display: inline-block;
	width: 100%;
	height: 100px;

	font-size: 1.6em;

	margin-bottom: 25px;

	text-transform: uppercase;
	text-align: center;

	cursor: default;
}

.block-head {
	display: inline-block;
	width: 100px;
	height: inherit;
}

.block-content {
	display: inline-block;
	width: calc(100% - 100px);
	height: inherit;

	float: right;

	line-height: 100px;
}